<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.cesarparent.netnotes"
          xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- Create the permission needed to received GCMs -->
    <permission android:name="com.cesarparent.netnotes.permission.C2D_MESSAGE"
        android:protectionLevel="signature"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.cesarparent.netnotes.persmission.C2D_MESSAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".CPApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_netnotes"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        
        <!-- Network Connectivity Management -->
        
        <receiver
            android:name=".sync.NetworkStatusReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        
        <!-- GCM support services -->
        
        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
                <category android:name="com.cesarparent.netnotes"/>
            </intent-filter>
        </receiver>
        <service
            android:name=".push.PushUpdateListener"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
            </intent-filter>
        </service>
        <service
            android:name=".push.PushTokenListener"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID"/>
            </intent-filter>
        </service>
        <service
            android:name=".push.PushTokenService"
            android:exported="false">
        </service>
        
        <activity
            android:launchMode="singleTask"
            android:name=".views.RootViewController"
            android:windowSoftInputMode="adjustResize"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".views.DetailViewController"
            android:windowSoftInputMode="adjustResize"
            android:label="@string/title_activity_detail_view_controller"
            android:parentActivityName=".views.RootViewController"
            android:theme="@style/AppTheme">
            <intent-filter
                android:label="@string/action_create">
                <action android:name="android.intent.action.SEND"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="text/plain"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".views.LoginViewController"
            android:windowSoftInputMode="adjustResize"
            android:label="@string/title_activity_login_view_controller"
            android:screenOrientation="portrait"
            android:parentActivityName=".views.RootViewController"
            android:theme="@style/AppTheme">
        </activity>
    </application>

</manifest>
